{% extends "Base.html" %}

{% block content %}
    <h1>Books</h1>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Author</th>
                <th>Release Date</th>
                <th>Genre</th>
                <th>Pages</th>
                <th></th>
                <th></th>
                <thd></th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{author.Name}}</td>
                <td>{{author.Age}}</td>
                <td><a href="{{url_for('edit_book')}}"></a></td>
                {% if current_user.role == 'Admin' %}
                <td><a href="{{url_for('delete_book')}}"></a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <button class="btn btn-primary" href="{{url_for('add_book')}}">Add Book</button>
{% endblock %}